@page "/route/{Number:int}"

<h1>Receiver</h1>

<div>Current Number: @Number</div>
<button @onclick="IncrementNumber" class="btn btn-primary">Increment</button>


@code
{

    [Parameter]
    public int Number { get; set; }

    [Parameter]
	public EventCallback<int> OnNumberChanged { get; set; }
    
    private void IncrementNumber()
    {
        OnNumberChanged.InvokeAsync(Number + 1);
    }

}