@page "/test"

<PageTitle>Test</PageTitle> 

<h1>Test</h1>

<div>Here's a lil test text. Okay lets try this again.</div>

<div class="myTest">Test text</div>

<div class="anothaOne">Uno mas tests</div>

<button class="btn btn-primary" @onclick=toggleStuff>Click me to toggle below</button>

<div>Do bootstrap Icons now work?</div>

<i class="bi bi-bank"></i>

@if(testBool) {
    <div>Peekaboo!</div>
}


@code {

    bool testBool = false;

    private void toggleStuff() {
        testBool = !testBool;
    }

}

